@import url(../../../https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);
@import url(../../../https://fonts.googleapis.com/css?family=Lobster:400);





body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-2 {
  font-family: 'Lobster', display;
  font-size: 4rem;
}
.display-2 > .mbr-iconfont {
  font-size: 6.4rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
}
.display-4 > .mbr-iconfont {
  font-size: 2.24rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 1.12rem;
    font-size: calc( 1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.14rem + (1.4 - 1.14) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: .4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.navbar .btn {
  font-family: 'Rubik', sans-serif;
  font-size: 1.4rem;
}
.navbar .btn > .mbr-iconfont {
  font-size: 2.24rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: .4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #55b4d4 !important;
}
.bg-success {
  background-color: #55b4d4 !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #cccccc !important;
}
.bg-danger {
  background-color: #b2ccd2 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #55b4d4;
  border-color: #55b4d4;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #2d8fb0;
  border-color: #2d8fb0;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2d8fb0 !important;
  border-color: #2d8fb0 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ff3366;
  border-color: #ff3366;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff;
  background-color: #e50039;
  border-color: #e50039;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #55b4d4;
  border-color: #55b4d4;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #2d8fb0;
  border-color: #2d8fb0;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2d8fb0 !important;
  border-color: #2d8fb0 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #cccccc;
  border-color: #cccccc;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #a6a6a6;
  border-color: #a6a6a6;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #a6a6a6 !important;
  border-color: #a6a6a6 !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #b2ccd2;
  border-color: #b2ccd2;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color: #82acb6;
  border-color: #82acb6;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #82acb6 !important;
  border-color: #82acb6 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333;
  border-color: #333333;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff;
  background-color: #0d0d0d;
  border-color: #0d0d0d;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #277e9c;
  color: #277e9c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #55b4d4;
  border-color: #55b4d4;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #277e9c;
  color: #277e9c;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #55b4d4;
  border-color: #55b4d4;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #55b4d4 !important;
  border-color: #55b4d4 !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #999999;
  color: #999999;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #cccccc !important;
  border-color: #cccccc !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #72a1ac;
  color: #72a1ac;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #b2ccd2;
  border-color: #b2ccd2;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b2ccd2 !important;
  border-color: #b2ccd2 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #55b4d4 !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #55b4d4 !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #cccccc !important;
}
.text-danger {
  color: #b2ccd2 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #277e9c !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #277e9c !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #999999 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #72a1ac !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #cccccc;
}
.alert-danger {
  background-color: #b2ccd2;
}
.mbr-gallery-filter li.active .btn {
  background-color: #55b4d4;
  border-color: #55b4d4;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.btn-form {
  border-radius: 0;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #55b4d4;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #f8fcfd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #f8fcfd;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  margin-bottom: .357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: .875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form::after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 1.07em .5em;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: .5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
  border-color: #55b4d4;
  border-width: 3px;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
.inactive {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-drag: none;
  user-drag: none;
}
.mbr-section__comments .row {
  justify-content: center;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  border-color: #55b4d4;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #55b4d4;
}
.btn-social + .btn {
  margin-left: .1rem;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #55b4d4;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #55b4d4;
}
/* Headers*/
.cid-qsbs616we1 {
  padding-top: 45px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/ss0peakers-580x595.jpg");
}
.cid-qsbs616we1 H2 {
  text-align: center;
}
.cid-qsbs616we1 I {
  color: #4fc3e9;
}
.cid-qsdckOcNbo {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-qsdckOcNbo h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-qsdckOcNbo p {
  color: #767676;
  text-align: left;
}
.cid-qsdckOcNbo .card-box {
  padding-top: 2rem;
}
.cid-qsdckOcNbo .card-title {
  color: #0f7699;
}
.cid-qsdckOcNbo P {
  color: #cccccc;
}
.cid-qsc9TQRB77 {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-qsc9TQRB77 .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-qsc9TQRB77 .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-qsc9TQRB77 .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-qsc9TQRB77 .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-qsc9TQRB77 .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to left, #554346, #45505b) !important;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-qsc9TQRB77 .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  background: linear-gradient(to left, rgba(85, 67, 70, 0.85), rgba(69, 80, 91, 0.85)) !important;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-qsc9TQRB77 .mbr-gallery-item > div > span {
  color: #ffffff;
}
.cid-qsnOMe9Mb9 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #4fc3e9;
}
.cid-qsnOMe9Mb9 .media-container-row .mbr-text {
  color: #4fc3e9;
}
.cid-qsnZu0opd6 {
  padding-top: 30px;
  padding-bottom: 45px;
  background-color: #000000;
}
.cid-qsnZu0opd6 .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-qsnZu0opd6 .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qsnZu0opd6 .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qsnZu0opd6 .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qsnZu0opd6 .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qsnZu0opd6 .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qsnZu0opd6 .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qsnZu0opd6 .media-container-row .row-copirayt {
  word-break: break-word;
}
.cid-qsj12L7DZm {
  padding-top: 45px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/ss0peakers-580x595.jpg");
}
.cid-qsj12L7DZm H2 {
  text-align: center;
}
.cid-qsj12L7DZm I {
  color: #4fc3e9;
}
.cid-qsj8tpMN4j {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #4fc3e9;
}
.cid-qsj8tpMN4j .media-container-row .mbr-text {
  color: #4fc3e9;
}
.cid-qsnRxVJpEr {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-qsnRxVJpEr h4 {
  font-weight: 500;
  color: #ffffff;
}
.cid-qsnRxVJpEr p {
  color: #ffffff;
}
.cid-qsnRxVJpEr .card {
  margin-bottom: 2rem;
}
.cid-qsnRxVJpEr .card-img {
  border-radius: 0;
  padding: 2rem 2rem 0 2rem;
  background-color: #000000;
}
.cid-qsnRxVJpEr .card-img span {
  font-size: 100px;
  color: #ffffff;
}
.cid-qsnRxVJpEr .card-box {
  padding-bottom: 2rem;
  background-color: #000000;
  background: linear-gradient(#000000, transparent);
}
.cid-qsnRxVJpEr .card-box .card-title {
  margin: 0;
  padding: 2rem 2rem 0 2rem;
}
.cid-qsnRxVJpEr .card-box .mbr-text {
  margin-bottom: 0;
  padding: 2rem 2rem 0 2rem;
}
.cid-qsnRxVJpEr .card-box .mbr-section-btn {
  padding-top: 1rem;
}
.cid-qsnRxVJpEr .card-box .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-qsnRxVJpEr P {
  text-align: left;
}
.cid-qsjeJJd8Dm {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #4fc3e9;
}
.cid-qscUup25mD {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #000000;
}
.cid-qscUup25mD .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qscUup25mD .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-qscUup25mD .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-qscUup25mD .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-qscUup25mD .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qscUup25mD .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qscUup25mD .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qscUup25mD .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qscUup25mD .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qscUup25mD .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qscUup25mD .media-container-row .row-copirayt {
  word-break: break-word;
}
.cid-qsnOMe9Mb9 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #4fc3e9;
}
.cid-qsnOMe9Mb9 .media-container-row .mbr-text {
  color: #4fc3e9;
}
.cid-qsnZu0opd6 {
  padding-top: 45px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-qsnZu0opd6 .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-qsnZu0opd6 .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qsnZu0opd6 .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qsnZu0opd6 .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qsnZu0opd6 .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qsnZu0opd6 .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qsnZu0opd6 .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qsnZu0opd6 .media-container-row .row-copirayt {
  word-break: break-word;
}
.cid-qsAHWK0DLV {
  padding-top: 45px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/ss0peakers-580x595.jpg");
}
.cid-qsAHWK0DLV H2 {
  text-align: center;
}
.cid-qsAHWK0DLV I {
  color: #4fc3e9;
}
.cid-qsnOMe9Mb9 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #4fc3e9;
}
.cid-qsnOMe9Mb9 .media-container-row .mbr-text {
  color: #4fc3e9;
}
.cid-qsAKcJZVmO {
  padding-top: 135px;
  padding-bottom: 135px;
  background-color: #000000;
}
.cid-qsAKcJZVmO H3 {
  color: #4fc3e9;
}
.cid-qsAHWidR9p {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #4fc3e9;
}
.cid-qsnZu0opd6 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #000000;
}
.cid-qsnZu0opd6 .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-qsnZu0opd6 .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qsnZu0opd6 .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qsnZu0opd6 .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qsnZu0opd6 .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qsnZu0opd6 .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qsnZu0opd6 .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qsnZu0opd6 .media-container-row .row-copirayt {
  word-break: break-word;
}
.cid-qsAEtM2s8P {
  padding-top: 45px;
  padding-bottom: 30px;
  background-image: url("../../../assets/images/ss0peakers-580x595.jpg");
}
.cid-qsAEtM2s8P H2 {
  text-align: center;
}
.cid-qsAEtM2s8P I {
  color: #4fc3e9;
}
.cid-qsnOMe9Mb9 {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #4fc3e9;
}
.cid-qsnOMe9Mb9 .media-container-row .mbr-text {
  color: #4fc3e9;
}
.cid-qsAEucDqnJ {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-qsAEucDqnJ h4 {
  font-weight: 500;
  color: #ffffff;
}
.cid-qsAEucDqnJ p {
  color: #ffffff;
}
.cid-qsAEucDqnJ .card {
  margin-bottom: 2rem;
}
.cid-qsAEucDqnJ .card-img {
  border-radius: 0;
  padding: 2rem 2rem 0 2rem;
  background-color: #000000;
}
.cid-qsAEucDqnJ .card-img span {
  font-size: 100px;
  color: #ffffff;
}
.cid-qsAEucDqnJ .card-box {
  padding-bottom: 2rem;
  background-color: #000000;
  background: linear-gradient(#000000, transparent);
}
.cid-qsAEucDqnJ .card-box .card-title {
  margin: 0;
  padding: 2rem 2rem 0 2rem;
}
.cid-qsAEucDqnJ .card-box .mbr-text {
  margin-bottom: 0;
  padding: 2rem 2rem 0 2rem;
}
.cid-qsAEucDqnJ .card-box .mbr-section-btn {
  padding-top: 1rem;
}
.cid-qsAEucDqnJ .card-box .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-qsAEucDqnJ P {
  text-align: left;
}
.cid-qsAEAK1PMT {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #4fc3e9;
}
.cid-qsnZu0opd6 {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #000000;
}
.cid-qsnZu0opd6 .media-container-row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 0;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu li {
  padding: 0 1rem 1rem 1rem;
}
.cid-qsnZu0opd6 .media-container-row .foot-menu li p {
  margin: 0;
}
.cid-qsnZu0opd6 .media-container-row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qsnZu0opd6 .media-container-row .social-list .mbr-iconfont-social {
  font-size: 1.5rem;
  color: #ffffff;
}
.cid-qsnZu0opd6 .media-container-row .social-list .soc-item {
  margin: 0 .5rem;
}
.cid-qsnZu0opd6 .media-container-row .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qsnZu0opd6 .media-container-row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qsnZu0opd6 .media-container-row .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qsnZu0opd6 .media-container-row .row-copirayt {
  word-break: break-word;
}
